<DOCTYPE html>
    <html>
        
        <head>
            <meta name = "author" content = "Brian Woo">
            <meta name = "keywords" content = "Carnegie Mellon University Information Systems">
            <meta name = "description" content = "Brian Woo's Professional Website">
            <title> Brian Woo </title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="../static/style.css">
        </head>
        <body>
            <header> 
                <h1 id ="titlecolor" >Brian Jiho Woo</h1>
                <nav> 
                    <a class = "linker" href= "../index.html">"Home"</a>
                    <a class = "linker" href= "cv.html">"CV"</a>
                    <a class = "linker" href= "contact.html">"Contact Me"</a>
                    <a class = "linker" href= "fun.html">"For Fun"</a>  
                </nav>
            </header>
            <div class = main> 
                <h2>"Contact Me"</h2>
               <form action ="/action_page.php" method = "get">
                <label for ="fname" > First name:</label>
                <input type = "text" id = "fname" name ="fname"><br><br>
                <label for ="lname" > Last name:</label>
                <input type ="text" id = "lname" name = "lname"><br><br>
                <label for = "email"> Email:</label>
                <input type ="email"id = "email" name = "email"><br><br>
                <label for = "commments"> Comments:</label> 
                <input type = "text" id = comments name = "comments"><br><br>
                <input type = "submit" value = "Submit">
               </form>
            </div>
            <div>
                <h3>
                    Contact Method Description
                </h3>
                Email: briann.j.woo@gmail<br>
                Phone: 909-636-7020<br>
                LinkedIn: UnderDevelopment<br>
            </div>
            <div class = footer> 
                ©2025 designed and coded by Brian Woo
            </div>
        </body>
        </html>
</DOCTYPE>