<doctype html>
    <html>
        <head>
            <script defer> src="./static/script.js" </script> 
            <link rel="stylesheet" href="../static/style.css">
            <meta name = "author" content = "Brian Woo">
            <meta name = "keywords" content = "Carnegie Mellon University Information Systems">
            <meta name = "description" content = "Brian Woo's Professional Website">
            <title> Brian Woo </title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        </head>
        <body>
            <header> 
                <h1 id ="titlecolor"> Brian Jiho Woo</h1>
                <nav> 
                    <a class = "linker" href= "../index.html">"Home"</a>
                    <a class = "linker" href= "cv.html">"CV"</a>
                    <a class = "linker" href= "contact.html">"Contact Me"</a>
                    <a class = "linker" href= "fun.html">"For Fun"</a> 
                </nav> 
            </header>
            <div class = "main"> 
                <h2> Things I like to do for Fun!</h2>
                <p>
                    <ul>
                        <li>Formula 1</li>
                        <li>Playing Guitar</li>
                        <li>Going on cafe dates!</li>
                        <li>Grinding out 112 HW</li>
                        <li>Fencing!</li>
                        <li>Hiking</li>
                    </ul>
                </p>
            </div>
            <div class = "footer"> 
                ©2025 designed and coded by Brian Woo
            </div>
        </body>
        </html>
    </doctype>